<head>
  <script src="../src/oauth.js"></script>
  
  <title>Todo List</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Todo List ({{incompleteCount}})</h1>
    </header>
    
    <label class="hide-completed">
      <input type="checkbox" checked="{{hideCompleted}}" />
      Hide Completed Tasks
    </label>
    
    <form class="new-task">
      <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>
    
    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
  <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=Zonf9JpTV9GyaYUdZiPaETBPKs9Kjc9QjdsRvAhm2gYhnnLsX2"></script></span>
</body>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    <span class="text">{{text}}</span>
  </li>
</template>